/*Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*common*/
body{
    background-color: #000;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
header{
    height: 30px;
    /* background-color: olive; */
}

main{
    height: calc(100% - 110px);
    /* background-color: darkorange; */
    width: 90%;
    margin: auto;
    overflow-y: auto;

}
.row{
    display: flex;
}
    
footer{
    height:80px;
    background-color:#222222 ;
}
.btn{
    text-align: right;
    border: none;
}


/* HEADER */
button{
    background-color: #4a4a4a;
    color: white;
    padding: 5px 3px;
    border-radius: 8px;
    margin:5px 2px 0 0 ;
}


/* MAIN */
.picture{
    flex-wrap: wrap;
    
}
.foto{
    
    width:calc(100% / 7 - 20px);
    margin: 10px;
    
}
.element{
    position: relative;
}
.element img{
    width: 100%;
}
.element .tags{
    position: absolute;
    width: 150px;
    height:20px ;
    bottom: 3px;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
    
    
/* FOOTER */